body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}

h1 {
  text-align: center;
  color: #333;
  margin-top: 20px;
}

h2 {
  margin-top: 20px;
  color: #666;
}

#tuckshopOrderForm {
  margin: 0 auto;
  max-width: 600px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#weekSelect {
  width: 200px;
  height: 26px;
  margin-bottom: 10px;
}

#items {
  margin-bottom: 20px;
}

.itemSelection {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

label {
  font-weight: bold;
  color: #333;
}

input[type="number"],
select {
  width: 70px;
  height: 26px;
  padding: 2px;
}

#addToBasketBtn,
#clearCartBtn,
#checkoutBtn {
  background-color: #2196f3;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
 margin-left: 10px;
 margin-bottom: 10px;
}

#addToBasketBtn:hover,
#clearCartBtn:hover,
#checkoutBtn:hover {
  background-color: #1976d2;
}

#basketContents {
  margin-top: 20px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#totalCost {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

p {
  margin: 20px 0;
}

select {
  max-width: 200px;
}